### Business Understanding

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

### Data Understanding

In [2]:
from sklearn.datasets import load_boston
boston_data = load_boston()

In [3]:
# iniatilizing dataset
data_ = pd.DataFrame(boston_data.data)

In [4]:
### Top five rows of dataset
data_.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
# Adding features names to the dataframe
data_.columns = boston_data.feature_names
data_.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
# Target feature of Boston Housing data
data_['PRICE'] = boston_data.target

### Data Preperation

In [7]:
    # checking null values
    data_.isnull().sum()

    # All values are filled, so all features are left as it is.

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [8]:
# checking if values are categorical or not
data_.info()

# Since all values are numeric, features are left as it is.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
PRICE      506 non-null float64
dtypes: float64(14)
memory usage: 55.5 KB

### Modeling

In [9]:
# creating target vaiable 
X = data_.drop(['PRICE'], axis=1)
y = data_['PRICE']
print(X.shape, y.shape)

(506, 13) (506,)

In [10]:
# splitting into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=1)

print("X training shape : ", X_train.shape )
print("X test shape : ", X_test.shape )
print("y training shape : ", y_train.shape )
print("y test shape : ", y_test.shape )

X training shape :  (404, 13)
X test shape :  (102, 13)
y training shape :  (404,)
y test shape :  (102,)

In [11]:
# creating model
from sklearn.ensemble import RandomForestRegressor
classifier = RandomForestRegressor()
classifier.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

### Model Evalutation

In [12]:
# Model evaluation for training data
prediction = classifier.predict(X_train)

print("r^2 : ", metrics.r2_score(y_train, prediction))
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_train, prediction))
print("Mean Squared Error: ", metrics.mean_squared_error(y_train, prediction))
print("Root Mean Squared Error : ", np.sqrt(metrics.mean_squared_error(y_train, prediction)))

r^2 :  0.9824234767376917
Mean Absolute Error:  0.8081435643564349
Mean Squared Error:  1.419855891089106
Root Mean Squared Error :  1.1915770604913078

In [13]:
# Model evaluation for testing data
prediction_test = classifier.predict(X_test)

print("r^2 : ", metrics.r2_score(y_test, prediction_test))
print("Mean Absolute Error : ", metrics.mean_absolute_error(y_test, prediction_test))
print("Mean Squared Error : ", metrics.mean_squared_error(y_test, prediction_test))
print("Root Mean Absolute Error : ", np.sqrt(metrics.mean_squared_error(y_test, prediction_test)))

r^2 :  0.9092632050981202
Mean Absolute Error :  2.3273921568627456
Mean Squared Error :  8.967280568627453
Root Mean Absolute Error :  2.994541796106285

### Saving model

In [16]:
# saving the model
import pickle
with open('webaap/model/model.pkl','wb') as file:
    pickle.dump(classifier, file)

In [17]:
# saving the columns
model_columns = list(X.columns)
with open('webaap/model/model_columns.pkl','wb') as file:
    pickle.dump(model_columns, file)
    print('Model Dumped')

Model Dumped